<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.besolutions.awfarlk">

    <application
        android:name=".Utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScenarioAwfarlk.ScenarioChangePassword.Controller.ChangePassword"></activity>
        <activity android:name=".ScenarioAwfarlk.ScenarioPersonalInfo.Controller.PersonalInfo" />
        <activity android:name=".ScenarioAwfarlk.ScenarioFAQ.Controller.FAQ" />
        <activity android:name=".ScenarioAwfarlk.ScenarioContactUs.Controller.Contact_Us" />
        <activity android:name=".ScenarioAwfarlk.ScenarioAboutUs.Controller.About_Us" />
        <activity android:name=".ScenarioAwfarlk.ScenarioMyComprison.Controller.My_Comparison" />
        <activity android:name=".ScenarioAwfarlk.ScenarioMyFavourite.Controller.MyFacvorite" />
        <activity android:name=".ScenarioAwfarlk.ScenarioCart.Controller.Cart" />
        <activity android:name=".ScenarioAwfarlk.ScenariosProductDetails.Controller.Product_Details" />
        <activity android:name=".ScenarioAwfarlk.ScenarioSub_Item.Controller.Sub_Item" />
        <activity android:name=".ScenarioAwfarlk.ScenarioSubCategory.Controller.Sub_Category" />
        <activity android:name=".ScenarioAwfarlk.ScenarioMain.Controller.MainActivity" />
        <activity android:name=".ScenarioAwfarlk.ScenarioHome.Controller.ForgetPassword" />
        <activity android:name=".ScenarioAwfarlk.ScenarioHome.Controller.Register" />
        <activity android:name=".ScenarioAwfarlk.ScenarioHome.Controller.Login" />
        <activity android:name=".ScenarioAwfarlk.ScenarioHome.Controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScenarioAwfarlk.ScenarioHome.Controller.Home_Activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>